In [92]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

balaji = pd.read_csv('Balaji Fast Food Sales.csv')

balaji.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [93]:
balaji['date'] = balaji['date'].str.replace('/', '-')
balaji['date'] = pd.to_datetime(balaji['date'])

In [94]:
balaji['weekday']=balaji['date'].dt.weekday + 1
balaji.head()

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,weekday
0,1,2022-07-03,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night,7
1,2,2022-08-23,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon,2
2,3,2022-11-20,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon,7
3,4,2023-02-03,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night,5
4,5,2022-10-02,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening,7

In [ ]:
day_order = ['Morning', 'Afternoon', 'Evening', 'Night', 'Midnight']

sales_per_TOD = balaji.groupby(['time_of_sale'], as_index = False)['transaction_amount'].count()

sales_per_TOD.rename(columns={'transaction_amount': 'total_sales'}, inplace=True) 

daily_time_counts = balaji.groupby(['time_of_sale'])['date'].nunique()

sales_per_TOD = pd.merge(sales_per_TOD, daily_time_counts, left_on='time_of_sale', right_index=True, how='outer')

sales_per_TOD.rename(columns={'date': 'total_TOD'}) 

avg_sales_per_TOD = sales_per_TOD['total_sales'] / sales_per_TOD['date']

avg_sales_per_TOD
# avg_sales_per_TOD.index = pd.Categorical(avg_sales_per_TOD.index, categories=day_order, ordered = True) 

# daily_time_counts

# avg_sales_per_TOD = avg_sales_per_TOD.map(lambda total_sales: ) 

# existing_dates
# sns.set_theme()
# ax = sns.lineplot(data=avg_sales_per_TOD, sort = day_order)
# ax.set(xlabel='Days', ylabel='Amount Spent')
# plt.title('Average Sales Per Time Of Day')

# plt.show()

0    1.305732
1    1.218182
2    1.283871
3    1.310345
4    1.322581
dtype: float64